h1{
  color: white;
  border:5px solid darkgreen;
  background-color: green;
  border-radius:10px;
  width: 800px;
}
img{
  width: 800px;
  border:5px double black;
  border-radius:15px;
  
}



h2{
  color: black;
  border: 5px solid darkgoldenrod;
  background-color: orange;
  border-radius:7px;
  width: 800px;
}

a{
  font-size:30px;
}


